/*
    @media: xxxs
*/
@media screen and (max-width: 622px) {
  section.info-boxes .focused {
    width: 100%;
    margin-bottom: 1em;
  }
}

@media screen and (min-width: 623px) and (max-width: 767px) {
  #whybemyguide article .image-container {
    width: 50%;
    margin: auto;
  }
}

/*
    @media: xs
*/
@media screen and (max-width: 767px) {
  section.info-boxes .first,
  section.info-boxes .second,
  section.info-boxes .third,
  section.info-boxes .fourth {
    left: 0 !important;
    -webkit-transition: opacity 1.2s !important;
    -moz-transition: opacity 1.2s !important;
    transition: opacity 1.2s !important;
  }
}

/* =======================================
1. Section: Intro
======================================== */

#intro {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
}
#small-screen-bg {
  margin: 0;
  padding: 0;
}
#small-screen-bg img {
  width: 100%;
}
#introCanvas {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-transition: background-image 4s ease-in-out;
  -moz-transition: background-image 4s ease-in-out;
  transition: background-image 4s ease-in-out;
  z-index: -1;
}

.loading-bg {
  background-image: url('/img/baloon-blue-loading-rotate.gif');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 80px;
  position: absolute;
  z-index: -100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.intro-bg-1 {
  background-image: url('/img/intro/1.jpg');
}

.intro-bg-2 {
  background-image: url('/img/intro/2.jpg');
}

.intro-bg-3 {
  background-image: url('/img/intro/3.jpg');
}

.intro-bg-4 {
  background-image: url('/img/intro/4.jpg');
}

.intro-bg-5 {
  background-image: url('/img/intro/5.jpg');
}

#imgPrepend {
  width: 1px !important;
  height: 1px !important;
  position: absolute;
  z-index: -99;
}

#moto {
  text-align: center;
  margin: 0 0 2em 0;
}
#moto h2 {
  font-family: cursive;
  font-family: 'Indie Flower', cursive;
  font-family: 'Marck Script', cursive;
  font-family: 'Caveat', cursive;
  color: #fafafa;
  font-size: 1.6em;
  text-align: center;
  text-transform: none;
  position: relative;
  bottom: 6em;
  opacity: 0;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  transition: all 2s;
}
#moto h2.focused {
  color: #37353b;
  opacity: 1;
  bottom: 4em;
}

/* =======================================
2. Section: Search
======================================== */

#search {
  padding: 0 15px;
  position: absolute;
  top: 130px;
  width: 100%;
}

#searchBox {
  width: 800px;
  margin: auto;
  color: #fafafa;
  padding: 70px 60px;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0.9;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  transition: opacity 0.6s;
}
#searchBox:hover,
#searchBox.hover {
  opacity: 1;
}
#searchBox h5 {
  text-transform: lowercase;
  margin-bottom: 4em;
}
#searchBox h5,
#searchBox p {
  padding: 0 10px;
  margin-bottom: 3em;
}
#searchBox h1 {
  font-size: 5.5rem;
}
#searchBox .form-inline .input-group {
  margin: 0 auto;
}
#searchBox .form-inline .input-group input[type=text] {
  border-left: 0px;
  border-right: 0px;
  padding-left: 0px;
}
#searchBox .form-inline .input-group .input-group-addon {
  border-right: 0;
  background: #fff;
}
#searchBox .form-inline .input-group .caret {
  border-left: 0;
}
#searchBox .fa {
  color: #46b8da;
}
#searchBox .hidden-xs input {
  width: auto;
}
#searchBox .row {
  margin-left: 0;
  margin-right: 0;
}
#searchBox input.country-toggle {
  border: none;
  box-shadow: none;
  outline: none;
}
#activityDropdown {
  padding: 0;
  margin: 0;
  border-left: 0;
  border-right: 0;
}
#activityDropdown .input-group {
  padding: 0 .3em;
}
#activityDropdown span {
  border-color: transparent;
}
#activityDropdown button,
#activityDropdown button:focus,
#activityDropdown button:visited,
#activityDropdown button:active {
  border: none;
  box-shadow: none;
  outline: none;
  margin: 0;
  background-color: transparent;
  color: #999;
  padding: .5em;
  padding-left: 0;
  font-size: 1em;
  height: 2em;
  text-align: left;
}
#activityDropdown ul {
  margin-top: 4px;
  width: 100%;
  padding: 0px;
  border: 15px solid white;
}
#activityDropdown.loading ul {
  height: 120px;
  padding: 10px;
  background-image: url(/img/baloon-blue-loading-rotate.gif);
  background-size: 30%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-transition: all 1.2s ease;
  -moz-transition: all 1.2s ease;
  transition: all 1.2s ease;
}
#activityDropdown ul input {
  width: 100%;
  margin-bottom: 10px;
}
#activityDropdown ul span.category {
  color: #999;
}
#activityDropdown ul a div {
  display: inline;
  position: relative;
  top: 2px;
  left: -1px;
}
#activityDropdown ul svg {
  max-width: 1.2em;
  height: 1.2em;
  fill: cadetblue;
}
#countryDropdown {
  margin-top: 0;
  max-height: 170px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 4px;
  width: 100%;
  padding: 0px;
  border: 15px solid white;
  display: block;
}
#countryDropdown li {
  line-height: 1.6em;
  padding: 2px 5px;
}
#countryDropdown li:hover {
  background-color: #f6f6f6;
}

/*
    @media: sm
*/
@media screen and (max-width: 991px) {
  #searchBox {
    width: 100% !important;
    outline-width: 30px;
  }
  #searchBox h1 {
    font-size: 5rem;
  }
}
/*
    @media: xs
*/
@media screen and (max-width: 767px) {
  #searchBox {
    outline-width: 0px;
    padding: 60px 30px;
  }
  #searchBox h1 {
    font-size: 4.5rem;
  }
  #searchBox input {
    border-left: 0;
  }
  #moto h2 {
    bottom: 7em;
  }
  #moto h2.focused {
    bottom: 6em;
  }
}
@media screen and (max-width: 479px) {
  #searchBox {
    padding: 30px 20px;
  }
  #searchBox form.hidden-xs-up {
    width: 100%;
    margin-left: 0;
  }
  #searchBox h1 {
    font-size: 4rem;
  }
  #searchBox h1 span:last-child {
    display: block;
  }
  #searchBox p {
    display: none;
  }
  #small-screen-bg {
    overflow: hidden;
  }
  #small-screen-bg img {
    width: 480px;
  }
}

/* =======================================
3. Section: Activities
======================================== */

#activities {
  background-color: #313131;
  padding: 50px 0;
  margin-top: 100px;
}

#activities .bg,
#activities .bg img
{
  width: 100%;
}

#activities .heading {
  padding: 1em 0 2em 0;
  color: #fafafa;
  text-align: center;
  margin: auto;
}
#activities .heading .just-img {
  height: 0.8em;
}
#activities .heading .caption {
  font-style: italic;
}

#activities .flying-div {
  margin: 0;
  width: 100%;
  height: 250px;
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
#activities .flying-div h2 {
  font-size: 50px;
  margin: 0;
  padding: 100px;
  color: #fafafa;
  text-shadow: #313131 0px 0px 10px;
}
#activities .flying-div .mask {
  position: absolute;
  width: 100%;
  height: 15%;
}
#activities .flying-div .mask-bottom-right {
  bottom: 0px;
}
#activities .flying-div .mask-bottom-left {
  bottom: 0px;
  transform: rotateY(180deg);
}
#activities .flying-div .mask-top-right {
  top: 0px;
  transform: rotateX(180deg);
}
#activities .flying-div .mask-top-left {
  top: 0px;
  transform: rotateY(180deg) rotateX(180deg);
}
#activities .content {
  box-shadow: 0 0 5px 5px black;
}

#activities .activity-water {
  background-image: url('/img/home/activities-water.jpg');
}
#activities .activity-air {
  background-image: url('/img/home/activities-air.jpg');
}
#activities .activity-land {
  background-image: url('/img/home/activities-land.jpg');
}

/* =======================================
4. Section: Why BeMyGuide
======================================== */

#whybemyguide {
  background-color: #46b8da;
  padding: 50px;
  margin-top: 100px;
  margin-bottom: 100px;
}

#whybemyguide .container {
  width: 100%;
  max-width: 1400px;
}

#whybemyguide .heading {
  padding: 1em 0;
  color: #313131;
  text-align: center;
  margin: auto;
}

#whybemyguide article .body {
  text-align: justify;
}

#whybemyguide article .title {
  color: #fafafa;
  text-transform: none;
  font-weight: bold;
}

#whybemyguide article .image-container {
  padding: 3em 1em;
}

#whybemyguide article img {
  border: 1em solid rgba(70,184,218,0.3);
  border-radius: 100%;
  margin: auto;
  background: rgba(255,255,255,0.7);
}

/* =======================================
4. Section: WBMG new
======================================== */

#whybemyguide_new #whybemyguide {
  padding: 0;
  margin: 0;
}

#whybemyguide_new {
  margin: 6em 0;
}

#whybemyguide_new h1 {
  padding: 90px 0 30px 0;
}

#whybemyguide_new .content {
  margin: 3em 0;
}

#whybemyguide_new .page-scroller a {
  color: #303030;
  border-color: #303030;
}

#whybemyguide_new article .title {
  padding-top: 2em;
  position: absolute;
}

#whybemyguide_new article .body {
  padding-top: 100px;
}

/* =======================================
5. Section: Blog
======================================== */

#blog .heading {
  text-align: center;
  padding: 1em 0;
}
#blog .page-scroller a {
  color: #303030;
  border-color: #303030;
}
#blog .grid-box {
  margin-bottom: 30px;
  background-color: black;
  padding: 5px;
}
#blog article {
  width: 100%;
  display: block;
  border: 4px solid black;
  cursor: pointer;
  position: relative;
}
#blog article img {
  opacity: 1;
  -webkit-transition: opacity .8s ease-in-out;
  -moz-transition: opacity .8s ease-in-out;
  transition: opacity .8s ease-in-out;
}
#blog article:hover img {
  opacity: .7;
}
#blog article .title h4 {
  padding: 0;
  margin-bottom: .5em;
}
#blog article .title a:hover {
  color: #fafafa;
}
#blog article .title {
  width: 100%;
  font-size: .9em;
  margin-bottom: 10px;
  padding-left: 10px;
  color: white;
  position: absolute;
  bottom: 0;
  opacity: 0;
  left: -10px;
  -webkit-transition: left .5s, opacity 1.2s ease-in-out;
  -moz-transition: left .5s, opacity 1.2s ease-in-out;
  transition: left .5s, opacity 1.2s ease-in-out;
}
#blog article:hover .title {
  opacity: 1;
  left: 0px;
}
#blog .grid-box-col {
  padding: 0;
}

/* =======================================
6. Section: How It Works
======================================== */

#howitworks {
  margin-top: 6em;
  margin-bottom: 6em;
}
#howitworks .heading {
  padding: 1em 0;
  color: #313131;
  text-align: center;
  margin: auto;
}
#howitworks .info-boxes {
  padding: 4em 0;
}
#howitworks .info-boxes .first,
#howitworks .info-boxes .second {
  left: -4em;
  opacity: 0;
  -webkit-transition: opacity 1.5s, left 1.5s;
  -moz-transition: opacity 1.5s, left 1.5s;
  transition: opacity 1.5s, left 1.5s;
}
#howitworks .info-boxes .third,
#howitworks .info-boxes .fourth {
  left: 4em;
  opacity: 0;
  -webkit-transition: opacity 1.5s, left 1.5s;
  -moz-transition: opacity 1.5s, left 1.5s;
  transition: opacity 1.5s, left 1.5s;
}
#howitworks .info-boxes .focused {
  left: 0;
  opacity: 1;
  perspective: 900px;
}
#howitworks .info-boxes a {
  margin: 1.5em 0;
}
#howitworks .info-boxes .article:hover h3,
#howitworks .info-boxes .article h3.hover {
/*  color: #5ba0d0;*/
}
#howitworks .info-boxes .article {
  display: inline-block;
  padding-bottom: 2em;
}
#howitworks .rotated {
  transform-style: preserve-3d;
}
#howitworks .rotated h3 {
  position: absolute;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  transition: all 0.4s linear;
  transform-origin: 50% 0%;
  background-color: transparent;
  text-transform: capitalize;
}
#howitworks .rotated .back {
  color: #46b8da;
  transform: translate3d(0, 0, -1.2em) rotate3d(1, 0, 0, 90deg);
  opacity: 0;
  margin: 0;
}
#howitworks .info-boxes .focused:hover .back {
  transform: rotate3d(1, 0, 0, 0deg);
  opacity: 1;
}
#howitworks .info-boxes .focused:hover .front {
  transform: translate3d(0, 1.4em, 0) rotate3d(1, 0, 0, -90deg);
  opacity: 0;
}
#howitworks .info-boxes p {
  margin-top: 5em;
  margin-bottom: 2em;
}
#howitworks .page-scroller a {
  color: #303030;
  border-color: #303030;
}

#howitworks.dark {
  background-color: #313131;
  color: #fafafa;
  padding: 50px 0;
}
#howitworks.dark .page-scroller a {
  color: white;
  border-color: white;
}
#howitworks.dark .heading {
  color: #46b8da;
  font-size: 3em;
}
#howitworks.dark .info-boxes .back {
  color: #F1513A;
}
#howitworks.dark .info-boxes .btn {
  background-color: #46b8da;
  color: white;
}
