/*
@screen-xxxs-max: 479px;
@screen-xxs-max: 622px;
@screen-xxs-min: 623px;
@screen-xxl-min: 1440px;
*/


/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {}

@media screen and (max-width: 767px) {
  .hidden-xs {
    display: none;
  }
  .hidden-xs-up {
    display: block;
  }
  .navbar-custom {
    /*position: static;*/
    margin-bottom: 0;
    padding-bottom: 10px;
    background-color: #181818;
  }
  .navbar-collapse {
    border: none;
    border-radius: 0;
    box-shadow: none;
  }
  .navbar-custom ul li a,
  .navbar-custom .navbar-toggle {
    margin: 0 auto;
    background-color: transparent;
    border: none;
    color: #fafafa;
  }
  .navbar-custom .navbar-toggle {
    padding: 16px 14px 0 0;
  }
  .navbar-custom li,
  .navbar-custom li a:hover,
  .navbar-custom li a:visited,
  .navbar-custom li a:focus {
    background-color: #46b8da;
    text-align: center;
    margin: 4px 0;
    box-shadow: 0 0 1px 1px #333;
    opacity: 0.8;
  }
  .navbar-custom li:hover,
  .navbar-custom li a:hover {
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .hidden-xs-up {
    display: none;
  }
  .hidden-xs {
    display: block;
  }
  .navbar,
  .navbar-custom {
    width: 100%;
    background-color: transparent;
    position: absolute;
    top: 0;
  }
  .navbar .navbar-right,
  .navbar-custom .navbar-right {
    background-color: transparent;
    border-radius: 5px 0 0 10px;
  }
  .navbar .navbar-right > ul > li > a,
  .navbar-custom .navbar-right > ul > li > a {
    color: white;
    padding: 15px;
    width: 115px;
    text-align: center;
    background-color: inherit;
  }
  .navbar .navbar-right > ul > li > a:hover,
  .navbar-custom .navbar-right > ul > li > a:hover,
  .navbar .navbar-right > ul > li > a:focus,
  .navbar-custom .navbar-right > ul > li > a:focus {
    background-color: #46b8da;
    border: 1px;
  }
  .navbar .navbar-right > ul > li > a:visited,
  .navbar-custom .navbar-right > ul > li > a:visited {
    background-color: inherit;
  }
  .navbar .navbar-right a.logo,
  .navbar-custom .navbar-right a.logo {
    padding-bottom: 5px;
  }
  .navbar .navbar-right ul.dropdown-menu,
  .navbar-custom .navbar-right ul.dropdown-menu {
    border: 1px solid #ccc;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .navbar .navbar-right ul.dropdown-menu a,
  .navbar-custom .navbar-right ul.dropdown-menu a {
    color: white;
  }
  .navbar .navbar-right ul.dropdown-menu a:hover,
  .navbar-custom .navbar-right ul.dropdown-menu a:hover {
    background-color: #46b8da;
  }
  .navbar .container,
  .navbar-custom .container {
    width: 100%;
    padding: 5px 15px 0 15px;
  }
}

.navbar-custom li a,
.navbar-custom li a:hover,
.navbar-custom li a:visited,
.navbar-custom li a:focus {
  font-weight: normal;
}

#languageSelect {
  position: absolute;
  padding: 14px 0 0 5px;
  z-index: 99;
  top: 0;
}

#languageSelect .btn {
  -webkit-transition: all 1.2s ease-in-out;
  -moz-transition: all 1.2s ease-in-out;
  transition: all 1.2s ease-in-out;
}

#languageSelect .btn span {
  margin-left: .3em;
  margin-right: -0.3em;
}

#languageSelect ul.dropdown-menu {
  border-radius: 5px;
  position: static;
  margin: 0;
  padding: 4px 0;
  display: block;
  -webkit-transition: all 1.2s ease-in-out;
  -moz-transition: all 1.2s ease-in-out;
  transition: all 1.2s ease-in-out;
}

#languageSelect ul.dropdown-menu li {
  display: inline-block;
}

#languageSelect ul.dropdown-menu li a,
#languageSelect ul.dropdown-menu li a:focus,
#languageSelect ul.dropdown-menu li a:visited {
  color: white;
}

#languageSelect ul.dropdown-menu li a:focus,
#languageSelect ul.dropdown-menu li a:visited {
  background-color: #46b8da;
}

#languageSelect ul.dropdown-menu li a:hover {
  color: #46b8da;
  background-color: #fafafa;
}

.btn-transparrent,
.btn-transparrent:hover,
.btn-transparrent:focus,
.btn-transparrent:visited {
  background: transparent;
  border: 1px solid white;
  box-shadow: none;
  color: white;
}

.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid #fff;
  border-radius: 100%!important;
  font-size: 40px;
  color: #fff;
  background: 0 0;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
  outline: 0;
  color: #fff;
  background: rgba(255, 255, 255, .1);
}

.btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}

.btn-primary {
  background-color: #46b8da;
}

.btn-primary:hover {
  background-color: #46b8da;
}

.brand-fb {
  background-color: #44619d;
  color: #fafafa;
}

.btn.brand-fb:hover {
  background-color: #44619d;
  color: #fafafa;
}

.page-scroller.hidden-cs {
  opacity: 0;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.page-scroller {
  opacity: 1;
  padding: 10px 0;
  text-align: center;
  background: transparent;
  width: 100%;
  -webkit-transition: all 3s ease-in-out;
  -moz-transition: all 3s ease-in-out;
  transition: all 3s ease-in-out;
}

.page-scroller .btn {
  opacity: 0.6;
}

.page-scroller .btn:hover {
  opacity: 1;
}

body {
  width: 100%;
  height: 100%;
  font-family: Lora, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #fafafa;
}

html {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

h1 {
  font-size: 3em;
}

h1 span {
  color: #46b8da;
}

p {
  margin: 0 0 10px;
  font-size: 18px;
  line-height: 1.5;
}

a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #46b8da;
}

a:hover,
a:focus {
  text-decoration: none;
  font-weight: bold;
}

footer {
  height: 40px;
  margin-top: -40px;
}

canvas {
  border: none;
}

a.navbar-brand img {
  height: 35px;
  position: relative;
  bottom: 18px;
}

a.navbar-brand .div-bg {
  height: 0px;
  width: 100%;
  margin: auto;
  top: 20px;
  box-shadow: 0 0 24px 6px #121A21;
  margin-top: 14px;
  border-radius: 5px;
}

#notice {
  position: absolute;
  top: 70px;
  background-color: #5ba0d0;
  color: white;
  font-family: Helvetica, sans-serif;
  border-radius: 0 2px 2px 0;
}

#notice p {
  padding: 5px 10px 0 10px;
}