<ng-include src="'templates/home/_intro.html'" onload="initializeIntro(); initializePageScrollers()"></ng-include>
<ng-include src="'templates/home/_search.html'" onload="initializeSearch()"></ng-include>
<ng-include src="'templates/home/_activities_section.html'" class="dark"></ng-include>
<ng-include src="'templates/home/_whybemyguide_section.html'" class="dark"></ng-include>
<ng-include src="'templates/home/_blog_section.html'"></ng-include>
<ng-include src="'templates/home/_howitworks_section.html'" class="dark"></ng-include>