<ng-include src="'templates/home/_intro.html'" onload="initializeIntro(); initializePageScrollers()"></ng-include>
<ng-include src="'templates/home/_search.html'" onload="initializeSearch()"></ng-include>
<ng-include src="'templates/home/_activities_section.html'" class="dark"></ng-include>
<ng-include src="'templates/home/_whybemyguide_section.html'"></ng-include>
<ng-include src="'templates/home/_blog_section.html'" class="dark"></ng-include>
<ng-include src="'templates/home/_howitworks_section.html'"></ng-include>
<!--
<ng-include src="'/_icons.html'"></ng-include>

<script type="text/ng-template" id="/_icons.html">
  <div class="container activity-icons">
    <div style="display: inline-block; padding: 5px;" ng-repeat="i in [] | range:24">
      <div ng-include="'/img/icons/activities/' + (i+1) + '.svg'"></div>
    </div>
  </div>

  <div class="container activity-icons">
    <div style="display: inline-block; padding: 5px;" ng-repeat="name in interests">
      <div ng-include="'/img/icons/interests/' + name + '.svg'"></div>
    </div>
  </div>
</script>
-->
