<section id="howitworks" data-ng-init="next=sections.howitworks.next">
  <div class="container">
    <h2 class="heading">{{ 'home.howitworks.HEADING' | translate }}</h2>
    <div class="row info-boxes">
      <article class="col-md-4 col-sm-6 first focused" data-ng-repeat="index in [1, 2, 3]">
        <div class="rotated">
          <h3 class="front">{{ 'home.howitworks.article' + index + '.title' | translate }}</h3>
          <h3 class="back">{{ 'home.howitworks.article' + index + '.title' | translate }}</h3>
        </div>
        <p>{{ 'home.howitworks.article' + index + '.body' | translate }}</p><a class="btn btn-default" data-ng-href="{{ 'home.howitworks.article' + index + '.url' | translate }}">{{ 'common.read_more' | translate }}</a>
      </article>
    </div>
    <pagescroll next="next" offset="sections[next].offset||0"></pagescroll>
  </div>
</section>