<section id="search" data-ng-init="next=sections.search.next" >
  <div class="row">
    <div id="searchBox" class="text-center">
      <div class="row">
        <h1 translate="home.intro.INTRO_CAPTION"></h1>
        <p><em>{{ "home.intro.INTRO_TEXT" | translate }}</em></p>
        <form class="form-inline block-center">
          <input type="hidden" value="{{ selectedActivities }}">
          <div class="input-group">
            <!-- <span class="input-group-addon"><i class="fa fa-location-arrow fa-2x"></i></span> -->
            <!-- <span class="input-group-addon"><i class="fa fa-map-marker fa-2x"></i></span> -->
            <!-- <span class="input-group-addon"><i class="fa fa-map-o fa-2x"></i></span>-->
            <span class="input-group-addon"><i class="fa fa-globe fa-2x"></i></span>
            <!-- <span class="input-group-addon"><i class="fa fa-thumb-tack fa-2x"></i></span> -->
            <input type="text" class="form-control input-lg" placeholder="{{ 'utils.search.places' | translate }}" describedby="inpit-addon-location">
          </div>

          <multiselect

            class="form-control input-lg"
            ng-class="(activities.length === 0) ? 'loading' : ''"
            id="activityDropdown"
            ng-model="selectedActivities"
            options="a.name for a in activities"
            multiple="true"
            ms-header="{{ 'utils.search.activities' | translate }}"
            scroll-after-rows="6"
            data-compare-by="id"
            tabindex="-1"
          ></multiselect>

          <div class="form-group">
            <input type="button" class="form-control btn btn-info btn-lg input-lg col-sm-2" value="{{ 'utils.search.search' | translate }}">
          </div>
        </form>
      </div>
    </div>
  </div>
  <div data-ng-if="next" data-ng-include="'js/utils/_page_scroller.html'" data-ng-init="scrollToId=next; scrollToOffset=(sections[scrollToId].offset||0)"></div>
</section>