<div id="languageSelect">
  <!-- Single button -->
  <button type="button" class="btn btn-transparrent" ng-mouseover="langSelectOpen = true" ng-hide="langSelectOpen" ng-show="!langSelectOpen">
    {{ getCurrentLanguage() | uppercase }}<span class="caret"></span>
  </button>
  <ul class="dropdown-menu btn-transparrent" ng-mouseleave="langSelectOpen = false" ng-show="langSelectOpen" ng-hide="!langSelectOpen">
    <li data-ng-repeat="lang in getLanguages()"><a data-ng-click="changeLanguage($event, lang)" href="#{{ $state.current.url }}">{{ lang }}</a></li>
  </ul>
</div>